{% extends "base.html" %}

{% block head %}
<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<style type="text/css" media="screen">
.headline {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
</style>

{% endblock %}


{% block content %}
<div class="jumbotron">
  <h1 class="text-center headline">Nothing to see here, <br /> move along...</h1>
</div>
{% endblock %}

{% block tail %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    // Handler for .ready() called.
    window.setTimeout(function () {
        location.href = "https://www.google.com/";
    }, 5000);
});
</script>
{% endblock %}
