{% extends "base.html" %}
{% load markdown_filter %}


{% block tail %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.js" charset="utf-8"></script>
<script charset="utf-8">
    function editTime(timeID) {
        window.location.href = `/times/edit/${timeID}`;
    }

    function deleteTime(timeID) {
        $("#yesBtn").attr("href", `/times/delete/${timeID}`);
        $("#areYouSure").modal();
    }

Mousetrap.bind("e", e => editTime({{ time.id }}));
Mousetrap.bind("d", e => deleteTime({{ time.id }}));
</script>
{% endblock %}


{% block content %}
<div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Detail View
        <a onclick="editTime()"><span 
                data-toggle="tooltip"
                title="Edit (e)"
                class="icon small glyphicon glyphicon-pencil"></span></a>
        <a onclick="deleteTime()"><span 
                data-toggle="tooltip"
                title="Delete (d)"
                class="icon small glyphicon glyphicon-trash"></span></a>
    </h1>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Started</dt>
        <dd>{{ time.start|time }}</dd>

        <dt>Finish Time</dt>
        <dd>
            {% if time.end is None %}
            N/A
            {% else %}
            {{ time.end|time }}
            {% endif %}
        </dd>

        <dt>Lunch</dt>
        <dd>{{ time.lunch }} mins</dd>

        <dt>Time Worked</dt>
        <dd>{{ time.hours_worked | floatformat }} hrs</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Morning Activities</h3>
    </div>
    <div class="panel-body">
      {{ time.morning_task|markdownify|safe }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Afternoon Activities</h3>
    </div>
    <div class="panel-body">
      {{ time.afternoon_task|markdownify|safe }}
    </div>
  </div>
</div>

<!-- "are you sure?" Modal -->
<div id="areYouSure" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the timesheet entry?</p>
      </div>
      <div class="modal-footer">
          <a id="yesBtn" class="btn btn-default">Yes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
