{% extends "base.html" %}

{% block head %}
<style type="text/css" media="screen">
.icon {  
    background-color: transparent;
 }
.icon:hover {
   color: #333333;
}
</style>
{% endblock %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Detail View
        <a href="{% url 'times:edit' time.id %}"><span class="icon small glyphicon glyphicon-pencil"></span></a>
        <span class="icon small glyphicon glyphicon-trash"></span>
    </h1>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Started</dt>
        <dd>{{ time.start }}</dd>

        <dt>Finish Time</dt>
        <dd>{{ time.end }}</dd>

        <dt>Lunch</dt>
        <dd>{{ time.lunch }} mins</dd>

        <dt>Time Worked</dt>
        <dd>{{ time.hours_worked | floatformat }} hrs</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Morning Activities</h3>
    </div>
    <div class="panel-body">
      {{ time.morning_task }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Afternoon Activities</h3>
    </div>
    <div class="panel-body">
      {{ time.afternoon_task }}
    </div>
  </div>
</div>
{% endblock %}
