{% extends "base.html" %}


{% block head %}
<style type="text/css" media="screen">
.hidden-hover {
    display: none;
}

tr:hover .hidden-hover {
    display: inline;
}
</style>
{% endblock %}


{% block tail %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.js" charset="utf-8"></script>
<script charset="utf-8">
    function editTime(timeID) {
        window.location.href = `/times/${timeID}/edit`;
    }

    function deleteTime(timeID) {
        $("#yesBtn").attr("href", `/times/${timeID}/delete`);
        $("#areYouSure").modal();
    }

Mousetrap.bind("n", e => {window.location.href = "{% url 'times:new' %}"});
Mousetrap.bind("d", e => {window.location.href = "{% url 'times:download' %}"});
Mousetrap.bind("l", e => {window.location.href = "{% url 'times:new_time_slice' %}"});
</script>
{% endblock %}


{% block content %}
<h1>Overview
    <a href="{% url 'times:new' %}" class="top-menu"><span 
            data-toggle="tooltip" 
            title="Add Time (n)"
            class="text-muted icon small glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'times:download' %}" download><span 
            data-toggle="tooltip"
            title="Download as CSV (d)"
            class="text-muted small icon glyphicon glyphicon-download"></span></a>
        <a href="{% url 'times:new_time_slice' %}"><span 
                data-toggle="tooltip"
                title="New Time Slice (l)"
                class="icon small glyphicon glyphicon-link"></span></a>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      {% for key, value in summary.items %}
      <dt>{{ key }}</dt>
      <dd>{{ value | floatformat }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Hours Worked</th>
    </tr>
  </thead>
  <tbody>
    {% for time in times|dictsortreversed:"start" %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a href="{% url 'times:detail' time.id %}">{{ time.start|date }}</a>
      </td>
      <td>{{ time.start|time }}</td>
      <td>
            {% if time.end is None %}
            -
            {% else %}
            {{ time.end|time }}
            {% endif %}
    </td>
      <td>{{ time.hours_worked | floatformat }} 
        <div class="control-icons pull-right">
            <a onclick="editTime({{ time.id }})"><span class="hidden-hover small glyphicon glyphicon-pencil"></span></a>
            <a onclick="deleteTime({{ time.id }})"><span class="hidden-hover small glyphicon glyphicon-trash"></span></a>
        </div>
      </td>
    </tr>
  </li>
  {% endfor %}
</tbody>
</table>


<!-- "are you sure?" Modal -->
<div id="areYouSure" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the timesheet entry?</p>
      </div>
      <div class="modal-footer">
          <a id="yesBtn" class="btn btn-default">Yes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
