{% extends "base.html" %}

{% block head %}
<style type="text/css" media="screen">
  .control-icons {
    display: none;
  }
  tr:hover .control-icons {
    display: block;
  }
</style>
{% endblock %}

{% block content %}
<h1>Overview
  <a href="{% url 'times:new' %}" class="top-menu"><span class="text-muted small glyphicon glyphicon-plus"></span></a>
  <a href="{% url 'times:download' %}"><span class="text-muted small glyphicon glyphicon-download"></span></a>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      {% for key, value in summary.items %}
      <dt>{{ key }}</dt>
      <dd>{{ value | floatformat }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Hours Worked</th>
    </tr>
  </thead>
  <tbody>
    {% for time in times|dictsortreversed:"start" %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a href="{% url 'times:detail' time.id %}">{{ time.start|date }}</a>
      </td>
      <td>{{ time.start|time }}</td>
      <td>{{ time.end|time }}</td>
      <td>{{ time.hours_worked | floatformat }} 
        <div class="control-icons pull-right">
          <a href="{% url 'times:edit' time.id %}"><span class="icon small glyphicon glyphicon-pencil"></span></a>
          <a href="{% url 'times:delete' time.id %}"><span class="icon small glyphicon glyphicon-trash"></span></a>
        </div>
      </td>
    </tr>
  </li>
  {% endfor %}
</tbody>
</table>
{% endblock %}
