{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">New Time Slice</h1>

<div class="col-md-4 col-md-offset-4">
  <form class="form-horizontal" method="post">
    <div class="form-group">
    {{ form.as_table }}
    {% csrf_token %}
    </div>

    <div class="form-group">
      <button type="submit" class="pull-right btn btn-default">Create
        <span class="text-muted small glyphicon glyphicon-floppy-disk"></span>
      </button>
    </div>

  </form>
</div>
{% endblock %}
