{% extends "base" %}

<!-- -->

{% block title %}Home{% endblock title %}

<!-- -->

{% block content %}
<div>
    <h1>Hello World</h1>
    {% if user %}
    <h2>Welcome {{ user }}</h2>
    {% endif %}
</div>
{% endblock content %}