{% extends "base" %}

<!-- -->

{% block title %}Login{% endblock title %}

<!-- -->

{% block content %}
<h1>Please Log In</h1>
<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Username</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Submit" />
</form>
{% endblock content %}