[Unit]
Description=My Website
Requires=nginx.service
Before=nginx.service

[Service]
WorkingDirectory=/home/michael/website/
Restart=always
User=michael
ExecStart=/usr/local/bin/gunicorn                         \
          --workers 4                                     \
          --bind=127.0.0.1:8000                           \
          website.wsgi:application

[Install]
WantedBy=multi-user.target
